[submodule "system/compiler-rt"]
	path = system/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
[submodule "system/musl"]
	path = system/musl
	url = https://github.com/DiamondLovesYou/musl.git
[submodule "system/libcxx"]
	path = system/libcxx
	url = https://github.com/llvm-mirror/libcxx.git
[submodule "system/libcxxabi"]
	path = system/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "system/libunwind"]
	path = system/libunwind
	url = https://github.com/llvm-mirror/libunwind.git
